.cat{
    height: 360px;
}

.card_catalog{
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 50px;

}

.rings_catalog{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #ffc0cb;
    /* position: absolute; */
    z-index: 0;
}

.img_catalog{
    position: absolute;
    z-index: 1;
    margin-top: 35px;
    margin-left: 30px;
}

.text_catalog{
    position: relative;
    padding-top: 50px;
    /* top: 150px; */
    /* right: 149px; */
}

.all_text{
    line-height: 1.5;
}

.coln_catalog{
    display: flex;
    justify-content: space-around;
}

.coln_text{
    max-width: 1300px;
    margin: 0 auto;
}

.coln_all{
    display: flex;
    justify-content: space-around;
}

.fotter_catalog{
    margin-top: 30px;
}