*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4,p{
font-family: "DejaVu Sans";
}
.wropper{
    background-color: pink;
}

.header{
    max-width: 1300px;
    margin: 0  auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img_logo{
    width: 80px;
}

form {
    position: relative;
    width: 300px;
   
  }
  
  .d1 input {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid #d68048;
    border-radius: 25px;
    outline: none;
    background: #ffffff;
    color: #9E9C9C;
  }
  .d1 button {
    
    position: absolute; 
    top: 0;
    right: 0px;
    width: 42px;
    height: 42px;
    border: none;
    background: #d68048;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
  }
  .d1 button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
  }

  .fa-2x {
      text-decoration: none;
      color: black;
      padding-right: 15px;
  }



.h1_header{
    font-size: 40px;
    font-weight: 700;
    font-family: "DejaVu Sans";
}

.button_header{
    background-color: white;
    margin-top: 40px;
    border: none;
    width: 168px;
    height: 83px;
    border-radius: 30px;
}

.button_catalog{
    text-decoration: none;
    color: black;
}

.key{
    display: flex;
    padding-top: 70px;
    max-width: 1300px;
    margin: 0 auto;
}

.rings{
    padding-top: 70px;
    max-width: 1300px;
    margin: 0  auto;
    width: 358px;
    height: 358px;
    border-radius: 179px;
    background-color: #fc7a35;
}

.cat{
    z-index: 1;
    position: relative;
    bottom: 9px;
    left: 14px;
}

.sky{
    z-index: 0;
    position: relative;
    bottom: 140px;
    left: 20px
}

.nav_menu{
    display: flex;
    justify-content: space-around;
    width: 570px;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 40px;
    margin: 0 auto;
    padding: 10px 0 10px 0;
    border: 2px solid;
}

.container_slider_css{
    margin: 50px auto;
    width: 1220px;
    height: 325px;
    overflow: hidden;
    position: relative;
}
.photo_slider_css{
    position:absolute;
    animation:round 10s infinite;
    opacity:0;
    width:100%
}

.text_slaider{
    bottom: 200px;
    position: absolute;
    color: white;
    left: 20px;
}


.hell{
    width: 710px;
    left: 250px;
}

.chappi{
    width: 500px;
    left: 360px;
}
.glass_black{
    width: 1220px;
    height: 350px;
    background-color: black;
    position: relative;
    opacity: 0.5;
}

.catalog{
    left: 20px;
    width: 180px;
    position: absolute;
    bottom: 130px;
    font-size: 20px;
    background: white;
    border: none;
}

/* card */

.text_card{
    text-align: center;
    padding-bottom: 20px;
}

.card {
    width: 100px;
    height: 150px;
    position: relative;
    perspective: 1000px;
    border: 1px solid #fc7a35;
    max-width: 1300px;
    margin: 0  auto;
  }

  .front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    backface-visibility: hidden;
    background-color: #fff;
   }

   .front img {
	max-width: 100%;
	min-width: 100%;
	height: auto;
}

.back {
    transform: rotateY(180deg);
  }
  .card:hover .front {
      transform: rotateY(180deg);}
  .card:hover .back {
      transform: rotateY(360deg);}

.all_card{
    padding-bottom: 20px;
    display: flex;
}
      
.all_text_card{
    max-width: 1300px;
    margin: 0 auto;
}


/* Footer */
.footer{
    height: 111px;
    background-color: #ffc0cb;
}

.footer_all{
    max-width: 1300px;
    margin: 0 auto
}

.logo_footer{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 80px;
}

.last{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text_footer_p{
padding-left: 50px;
}

/* footer icon */

.favk{
    text-decoration: none;
    color: #d8834e;
    padding-right: 10px;

}

.fainst{
    text-decoration: none;
    color: #d8834e;
    padding-right: 10px;
    
}

.fateleg{
    text-decoration: none;
    color: #d8834e;
    padding-right: 10px;
}

.p_a{
    text-decoration: none;
    color: black;
}


@keyframes round {
    25%{opacity:1}
    40%{opacity:0}
    }
    img:nth-child(1){animation-delay:12s}
    img:nth-child(2){animation-delay:8s}
    img:nth-child(3){animation-delay:4s}
    img:nth-child(4){animation-delay:0} 
    @media(min-width:0px) and (max-width:320px) {
    .container_slider_css{width:100%;height:190px}
    }
    @media(min-width:321px) and (max-width:480px) {
    .container_slider_css{width:100%;height:190px}
    }


@media screen and (max-width: 720px){
    .rings{
        display: none;
        border-radius: 50%;
        
    }
    
    .cat{
        left:  0;
    }

    .sky{
        left: 0;
    }
}

@media screen and (max-width: 980px) {
    .last{
    display: block;
    }
    .about{
        display: none;
    }

    .rings{
        display: none;
    }

    .logo_footer{
        display: block;
        margin: 0 auto;
    }

    .text_footer_p{
        line-height: 2;
    }

    form{
        display: none;
    }

    .icon{
        margin-top: 15px;
        margin-right: 15px;
    }

    .img_logo{
    margin-left: 30px;
    width: 80px;
    margin-top: 15px;
    }

    .key{
        display: block;
    margin-left: 20px;
    padding-top: 10px;
    }

    .nav_menu{
        display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 40px;
    margin: 0 auto;
    padding: 10px 0 10px 0;
    border: 2px solid;
    }

    .text_slaider{
        top: 15px;
        font-size: 20px;
    }

    .catalog{
        left: 20px;
        width: 180px;
        position: absolute;
        bottom: 20px;
        font-size: 20px;
        background: white;
        border: none;
    }

    .card4{
        display: none;
    }

    .card5{
        display: none;
    }

    .footer{
        height: 100%;
        background-color: #ffc0cb;
        padding-bottom: 15px;
    }
    }

    @media screen and (max-width: 1180px){
        .container_slider_css{
            width: 100%;
        }

        .text_footer_p{
            text-align: center;
        }

        .chappi{
            left: 200px
        }

        .text_slaider{
            font-size: 45px;
        }

        .random{
            height: 100%;
        }

        .fuco{
         width: 100%;
         top: 65px;
        }

        .hell{
            left: 58px;
        }

        .rings{
            display: block;
        }

        .key{
            display: flex;
            margin-left: 20px;
            padding-top: 10px;
        }
    }

    @media screen and (max-width: 667px)
    {
        .rings{
            display: none;
        }

        .text_slaider{
            font-size: 20px;
        }
    }

